<section class='admin-categories-index'>

  <header class='page-header'>
    <h1>Admin &raquo; All Categories</h1>
  </header>

  <div class='categories-wrapper'>
    <div class='well'>
      <!-- rake routes on cli, and look for Prefix for routes -->
      <%= link_to '+ New Category', %i[new admin category], class: 'btn btn-info' %>
    </div>

    <main class='panel panel-default categories'>
      <table class='table table-bordered'>
        <thead>
          <tr>
            <th>Categories</th>
          </tr>
        </thead>
        <tbody>
          <%= render @categories %>
        </tbody>
      </table>
    </main>
  </div>
</section>